/* 
    Document   : aulavirtual
    Created on : May 27, 2014, 8:14:27 PM
    Author     : julio
    Description:
        Purpose of the stylesheet follows.
*/
#content {
    float: left;
    width: 100%;
    height: auto;
}

.centre {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

a.dismissFlash {
    text-decoration: underline;
    cursor: pointer;
}

#flashMessagesBox .error, #flashMessagesBox .notice, #flashMessagesBox .success {
    padding: .5em; /*margin-bottom:1.6em;*/
    border: 1px solid #ddd;
}

#flashMessagesBox .error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}

#flashMessagesBox .notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}

#flashMessagesBox .success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

textarea.fieldError, input.fieldError {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    box-shadow: 0 0 10px #CC0000;
}

textarea.fieldError:focus, input.fieldError:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

p.info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p.info-md {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#buttonPlaceholder a {
    color: whitesmoke;
}

#buttonPlaceholder a:hover {
    color: whitesmoke;
}

#content ul.pagination li {
    background: none;
    padding-left: 0;
}

ul.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: pointer;
    background-color: inherit;
    border-color: #428bca;
}

#content input[type=file] {
    width: 100%;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #f5f5f5;
}

.streetLight_green {
    color: green;
}

.streetLight_red {
    color: red;
}

#content ul.temario li {
    background: none;
    padding-left: 0;
}

#content .syllabus ul { list-style: lower-roman; }
#content .syllabus ul li { list-style: lower-roman; background: none; margin-left: 15px; padding-left: 0; }

#content #contentarea ul li {
    list-style: lower-latin;
    background: none; 
    padding: 2px 0px;
    margin-bottom: 5px;
    padding-left: 15px;
}

textarea.exam-qa {
    resize: vertical;
}

#content #answersPlaceholder li {
    padding: 0;
    margin-bottom: 0;
    padding-left: 0;
}

#content a.cta {
    color: #8b5e3c;
}

#content a.cta:hover {
    text-decoration: none;
    font-weight: bold;
}

input[type="radio"].alveolo {
    display:none;
}
input[type="radio"].alveolo + label span {
    display:inline-block;
    width:15px;
    height:15px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/radiobutton_square.png) left top no-repeat;
    cursor:pointer;
}
input[type="radio"].alveolo:checked + label span {
    background:url(../img/radiobutton_square.png) -25px top no-repeat;
}