/* 
    Document   : aulavirtual
    Created on : May 27, 2014, 8:14:27 PM
    Author     : julio
    Description:
        Purpose of the stylesheet follows.
*/

.centre {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

