target/
.idea/
.settings/
*.iml
*.project
*.classpath
*.checkclipse
/src/main/webapp/WEB-INF/rescue_servlet-context.xml
*.travis.yml
createDDL_ddlGeneration.jdbc
dropDDL_ddlGeneration.jdbc
/src/main/webapp/WEB-INF/.gitignore
/nb-configuration.xml
*.gitignore~
bin/