<html>
Estimado ${user.persona.nombre} ${user.persona.apellidoPaterno}:
<br/>
Su cuenta se encuentra activada y puede comenzar a utilizar la plataforma,
por favor visite nuestro sitio, ${serverUrl} .
<br/>
Gracias.
</html>