<html>
<strong>
    Estimado ${user.persona.nombre} ${user.persona.apellidoPaterno}:
</strong>
<br/>
Su cuenta se ha bloqueado, para reactivarla visite la sigueinte liga:
<a href="${serverUrl}">Reactivar Cuenta</a> para que pueda ingresar su contraseña nueva
<br/>
Gracias.
</html>