Estimado ${user.persona.nombre} ${user.persona.apellidoPaterno}:

Su cuenta se ha bloqueado, para reactivarla visite la sigueinte liga
${serverUrl} para que pueda ingresar su contraseña nueva

Gracias.