Estimado ${user.persona.nombre} ${user.persona.apellidoPaterno}:

Tu resultado correspondiente al examen de evaluación del curso/módulo: ${courseName} / ${moduleName}, es ${score}

(${correctAnswers} respuestas correctas de ${totalExamQuestions})

Gracias por tu participación. Te invitamos a seguir usando los servicios de Aula Virtual.