Estimado ${user.persona.nombre} ${user.persona.apellidoPaterno}:	

Bienvenido y Gracias por registrarse en el Aula Virtual.

Para finalizar su proceso de registro y obtener acceso al sistema por favor visite la siguiente liga:
 ${serverUrl}.

Gracias.