<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <global-method-security secured-annotations="enabled"/>

    <http use-expressions="true">
        <session-management>
            <concurrency-control
            max-sessions="1"
            expired-url="/login" />
        </session-management>

        <intercept-url pattern="/favicon.ico" access="permitAll"/>
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/login/registration" access="hasAnyRole('SUPER_ADMIN','COORDINADOR')"/>
        <intercept-url pattern="/login/**" access="permitAll"/>
        <intercept-url pattern="/resources/**" access="permitAll"/>
        <intercept-url pattern="/cursos" access="isAuthenticated()"/>
        <intercept-url pattern="/cursos/detail" access="isAuthenticated()"/>
        <intercept-url pattern="/cursos/add" access="hasAnyRole('SUPER_ADMIN','COORDINADOR')"/>
        <intercept-url pattern="/cursos/edit" access="hasAnyRole('SUPER_ADMIN','COORDINADOR')"/>
        <intercept-url pattern="/cursos/list" access="hasAnyRole('SUPER_ADMIN','COORDINADOR')"/>
        <intercept-url pattern="/cursos/*" access="isAuthenticated()"/>
        <intercept-url pattern="/cursos/**" access="hasAnyRole('SUPER_ADMIN','COORDINADOR')"/>
        <intercept-url pattern="/usuario/**" access="hasRole('SUPER_ADMIN')"/>
        <intercept-url pattern="/modulo/content/download/*" access="isAuthenticated()"/>
        <intercept-url pattern="/" access="isAuthenticated()"/>
        <intercept-url pattern="/**" access="hasRole('SUPER_ADMIN')"/>
        <form-login login-page="/login" default-target-url="/"
                    username-parameter="username"
                    password-parameter="password"
                    authentication-failure-handler-ref="userNameCachingAuthenticationFailureHandler"/>
        <logout logout-success-url="/login?logout" invalidate-session="true" delete-cookies="JSESSIONID"/>
        <access-denied-handler error-page="/accessdenied"/>
    </http>

    <beans:bean
            id="userNameCachingAuthenticationFailureHandler"
            class="com.jcs.goboax.aulavirtual.handler.UserNameCachingAuthenticationFailureHandler">
        <beans:property name="defaultFailureUrl" value="/login?error"/>
    </beans:bean>

    <beans:bean id="daoAuthenticationProvider"
                class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <beans:property name="userDetailsService" ref="usuarioService"/>
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="usuarioService">
            <password-encoder ref="encoder"/>
        </authentication-provider>
    </authentication-manager>


    <beans:bean id="encoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

</beans:beans>